# OS
.DS_Store

# Xcode
xcuserdata/
*.xcodeproj
*.xcworkspace
DerivedData/
.build/
build/
*.xcbuilddata/

# Tuist
Derived/
graph.dot
vendor/
!Tuist/.swiftpm/configuration/mirrors.json

# Swift Package Manager
.swiftpm/

# Documentation
App/Documentation/Documentation.docc/.docc-build

# Fastlane
fastlane/ci-tools
fastlane/report.xml

# Logs
WBPartners-WBPartners.log
App/Environments/InfoPlists/Secrets.plist
